/Tarea3/Cliente/nbproject/private/
/Tarea3/Servidor/nbproject/private/
/Tarea3/ServidorHilo/nbproject/private/
/Tarea3/Tarea3PSP/nbproject/private/
/Tarea3/Tarea3PSP/build/
/Tarea4/nbproject/private/
/Tarea4Cliente/nbproject/private/
/Tarea4Servidor/nbproject/private/
/Tarea4/build/
/Tarea4/dist/
/ClienteCalendario/nbproject/private/
/ServidorCalendario/nbproject/private/
/ServidorCalendario/build/
/ServidorCalendario/dist/
/ClienteCalendario/build/
/ClienteCalendario/dist/
/Procesos/Colaborar/build/
/Procesos/Colaborar/dist/
/Procesos/Colaborar/nbproject/private/
/Procesos/Lenguaje/build/
/Procesos/Lenguaje/dist/
/Procesos/Lenguaje/nbproject/private/
/HilosSimultaneos/build/
/HilosSimultaneos/nbproject/private/
/Ejercicio_parte1/nbproject/private/
/Ejercicio_parte1/build/
/Tarea5/ServerHTTP/dist/